{% extends "base.html" %} {% block title %} {{ article.title }} {% endblock title %} {% block main_colomn %}
<!-- Title -->
<h1 class="mt-4">{{ article.title }}</h1>

<!-- Author -->
<p class="lead">
    by
    <a href="#">{{article.author.username}}</a>
</p>

<hr>

<!-- Date/Time -->
<p>{{ article.created }}</p>

<hr>

<hr>

<!-- Post Content -->
<p class="lead">
    {{ article.content }}
</p>

<a href="{% url 'main:home' %}">Back to home</a>
<hr>

<!-- Comments Form -->
<div class="card my-4">
    <h5 class="card-header">Leave a Comment:</h5>
    <div class="card-body">
        <form>
            <div class="form-group">
                <textarea class="form-control" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<!-- Single Comment -->
{% for comment in comment %}
<div class="media mb-4">
    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
    <div class="media-body">
        <h5 class="mt-0">Commenter Name</h5>
        {{comment.content}}
    </div>
</div>
{% endfor %}



{% endblock main_colomn %}
